* {
  box-sizing: border-box;
}

header{
  display: flex;
  width: 960px;
  margin: 0px auto 0px auto;
  justify-content: space-between;
}

div{
  display: flex;
  margin:20px 0px 0px 0px;
  width: 400px;
}

div section{
  margin-top: 20px;
}
div img{
  margin-right: 7px;
  margin-top: 20px;
}

div p{
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lightgray;
}

#upper-right{
  display: flex ;
  margin-top: 45px;
}

#upper-right ul{
display: flex;
}

#facebook li{
  margin: 0px .1rem 0px .1rem;
}


#wifi{
  margin-left: 8px;
}

#wifi li{
 margin: 0px .1rem 0px .1rem;
}

hr{
  background-image: url(img/hr-img.png);
  width: 960px;
  height: 10px;
  border: none;
  margin: 30px auto 30px auto;
}

h1{
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  font-weight: bold;
}

h2{
  font-size: 60px;
  font-family: 'League Gothic', sans-serif;
  margin-top: 10px;

}


#print {
  float: right;
  align-items: flex-end;
   width: min-content; 
  
}


#center{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#choco{
  display: inline;
}


#posted{
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lightgray;
  
}

body{
  width: 100%;
}

main{
  width: 960px;
  margin: 0px auto 0px auto;
}

#hero{
  width: 960px;
  margin-bottom: 35px;
}

#list{
  width: 960px;
  margin-top: 20px;
}

footer{
  width: 960px;
  margin: 0px auto 0px auto;
  display: flex;
}
.indent{
  text-indent: 3%;
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: large;
  color: grey;
}
form{
  background-image: url(img/list-bg.png);
  height: 300px;
  display: flex;
  justify-content: space-between;
  font-size: large;
  padding: 40px 30px 20px 60px;
  width: 960px;

}
form li{
  margin-bottom: 10px;
  font-size: larger;
  color: rgba(55, 39, 39, 0.647); 
  font-family: 'Patrick Hand', cursive;
  font-weight: bolder;
}
